<div class="container  text-center">

  <!-- <p>Find me in app/views/questions/ask.html.erb</p> -->

  <form action="answer" class=""  id="form-id">
    <h1>Stupid Coaching</h1>
    <input class="form-control" type="text" name="ask">
    <button type="submit" class="btn btn-success" value="Ask!">Submit</button>
  </form>
</div>
